################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RetroGame/main/.vs/main/v17/Browse.VC.opendb
